//- include preload.pug
header
	.main-grid.line-header.line-header-nav
		.col-2.col-xs-4.logo-container
			a.logo(href="#") 
				img(src="/images/logo.svg", alt="")
		.vertical-align.col-10
			nav.nav-header
				ul.ln
						li 
							a(href="#") Доктора
						li 
							a(href="#") Сертификаты
						li 
							a(href="#") Запись онлайн
						li 
							a(href="#") Контакты


