include ../default/build-header
// main start
include home/main.pug 
// main end

include home/video.pug
include home/reviews.pug
include home/partners.pug
include ../blocks/feedback/free.pug
include home/advantages.pug

include home/about.pug
include home/banner.pug
include home/team.pug



// main page content end


include detail/default-slider
include detail/num-adv
include detail/simple-about


// main page content end
.footer-stub
// footer start

include ../blocks/footer.pug 
// footer end 