section.about-home
	.about-carousel.owl-carousel
		- for (var i = 0; i < 3; i++ )
			.about-home-item
				.about-home-img
					.img-cover 
						img(src="/images/temp/boad/1.jpg", alt="")
					.about-home-logo 
				.about-home-description
					.about-home-container
						h2 О нас
						.about-home-text Уже более 10 лет LSB-charter предоставляет в аренду яхты и катера от самых известных производителей мира. За эти годы мы сформировали команду отличных специалистов и зарекомендовали себя, как одна из самых лучших чартерных компаний в Дубае.
						.arrow-stub