.main-home
	.main-home-img.img-cover
		img(src="/images/main-bg.jpg", alt="")
	.main-home-content.main-grid
		.col-7.main-home-info
			h1.
				Лечение рака молочной железы:
				<span>инновационный метод блокировки рака
				на генном уровне.</span>
			.main-home-list 
				.main-home-item 
					h2 Увеличение эффективности лечения при химиотерапии
					h3 
						span на 
						| 20-30%
				.main-home-item 
					h2 Снижение риска рецидива после операции
					h3 
						span в
						| 3 раза
				.main-home-item 
					h2 Снижение токсичности при химиотерапии
					h3 
						span на 
						|50-60%
	.main-home-botom.main-full.
		Наши пациенты прошли оперативное лечение рака молочной железы
		в онкологических центрах НМИЦ онкологии им. Н.Н. Блохина, МНИОИ
		им. П.А. Герцена и многих других онкологических центрах, а теперь продолжают лечение у нас, укрепляя свою иммунную систему
		по блокировке раковых клеток.
