section.partners-home.main-full
	h2 Больше отзывов на популярных площадках:
	.partners-container.main-full
			.partners-item 
				img(src="/images/temp/partners/1.svg", alt="")
			.partners-item 
				img(src="/images/temp/partners/2.svg", alt="")
			.partners-item 
				img(src="/images/temp/partners/3.svg", alt="")