section.reviews-home.owl-home
	.main-full
		.head-section
			h2
				| Лечение рака молочной железы: отзывы наших пациентов
			.stab-arrow
	.main-full.owl-second.owl-carousel
		-for(var x = 0; x < 7; x++)
			+reviewsItem("Alex But","10/10/10")
