section.team-home
  .team-home-img
    .img-cover 
      img(src="/images/temp/team.jpg", alt="")
  .team-home-description
    .team-home-container
      h2 Наша команда
      .team-home-text
        p Уже более 10 лет LSB-charter предоставляет в аренду яхты и катера от самых известных производителей мира. 
        p За эти годы мы сформировали команду отличных специалистов и зарекомендовали себя, как одна из самых лучших чартерных компаний в Дубае.