mixin reviewsItem(name,data)
	div 
		.reviews-item
			i
			.reviews-text 
				| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quod laboriosam consequatur voluptatibus ducimus quas, eius minima accusamus modi porro quidem illo architecto dolore nam unde laborum ipsum, placeat quasi!
			.reviews-info
				div
					.reviews-img.img-cover
						img(src="/images/temp/avatar-1.jpg", alt="")
				div
					h3 Ольга, 41 год
					h4 Диагноз — ​​Аденокарцинома правого легкого, IV стадия. Метастазы в легкие. Больше об истории Оксаны можно узнать по ссылке.
						a(href="#") по ссылке
			.reviews-footer 
				.reviews-info-logo 
					img(src="/images/rew-logo.svg", alt="")
				.reviews-info-text Прошла операцию и химиотерапию в НМИЦ Онкологии им. Н.Н. Блохина
		.reviews-item
			i
			.reviews-text 
				| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quod laboriosam consequatur voluptatibus ducimus quas, eius minima accusamus modi porro quidem illo architecto dolore nam unde laborum ipsum, placeat quasi!
			.reviews-info
				div
					.reviews-img.img-cover
						img(src="/images/temp/avatar-1.jpg", alt="")
				div
					h3 Ольга, 41 год
					h4 Диагноз — ​​Аденокарцинома правого легкого, IV стадия. Метастазы в легкие. Больше об истории Оксаны можно узнать по ссылке.
						a(href="#") по ссылке
			.reviews-footer 
				.reviews-info-logo 
					img(src="/images/rew-logo.svg", alt="")
				.reviews-info-text Прошла операцию и химиотерапию в НМИЦ Онкологии им. Н.Н. Блохина