include ../../default/build-header
.stub
// contacts page content start
+roofContent("404", false)
	.main-full
		.page-404
			.page-404-img 
				div 404
			.page-404-text  Извините, такой страницы нет на сайте. Возможно, вы ввели неправильный адрес, или страница была удалена.
			.btn-container 
				a.btn.btn--yellow(href="/") На главную

// footer start  

include ../../blocks/footer.pug

// footer end   