include ../../default/build-header
		
// header end
.stub
+roofContent('',false)
	section
		.main-full
			.head-section
				h2.title-section 
					| Впечатления и отзывы
				h3.subtitle-section 
					| Мы заботимся о качестве услуг и с вниманием относимся к вашему мнению о нашей работе, чтобы с каждым днем становиться лучше для вас.
	include ../detail/social-rew.pug
	include ../detail/video-rew.pug
	include ../home/reviews.pug
	include ../../blocks/feedback/reviews.pug
// footer start  

include ../../blocks/footer.pug

// footer end  